:root {
	--color-primary: #0073ff;
	--color-white: #e9e9e9;
	--color-black: #141d28;
	--color-black-1: #212b38;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	

	height: 100vh;
	background-size: cover;
	background-position: center;

}


.card{
	border:none
}
.ellipsis{
	color: #a09c9c
}
.muted-color{
	color: #a09c9c;font-size: 13px
}
.ellipsis i{
	margin-top: 3px;cursor: pointer
}
.name{
	font-weight: 600
}
.form-control{
	border-radius: 26px
}
.form-control{
	border-radius: 26px
}

.fonts{
	position: absolute;
	right: 13px;
	top:8px;
	color: #a09c9c}

.form-control:focus{
	color: #495057;
	background-color: #fff;
	border-color: #8bbafe;
	outline: 0;
	box-shadow: none
}

.menu_bar {
	background-color: #000;
	background-image: none;
	background-size: cover;
	background-position: center;
	height: 150px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
} 


.logo {
	color: #fff;
	font-size: 30px;
}

.logo span {
	color: #F6AE2D;
}

.menu_bar ul{
	
	list-style: none;
	display: flex;

}

.menu_bar ul li{
	padding: 10px 30px;
	position: relative;
}

.menu_bar ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	transition: all 0.3s;
}

.menu_bar ul li a:hover {
	color: #0073ff;
}

.dropdown_menu{

	display: none;
}
.menu_bar ul li:hover .dropdown_menu {
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #000;
}

.menu_bar ul li:hover .dropdown_menu ul{
	display: block;
	margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu ul li {
	width: 150px;
	padding: 10px;
}

.main  {

	color: #fff;
	
	
}

.button {
	position: absolute;
	width: 40px;
	height: 70px;
	
	top: 95%;
	left:80%;
	transform: translate(-5%, 5%);
}
.button form input:hover {
	background-color: #393939;
	color: #fff;
	
}

.button1 {
	position: absolute;
	width: 40px;
	height: 70px;

	top: 95%;
	left:90%;
	transform: translate(-5%, 5%);
}

.button1 form input:hover {
	background-color: #393939;
	color: #fff;
}

.button2 {
	position: absolute;
	width: 40px;
	height: 70px;

	top: 95%;
	left:10%;
	transform: translate(-5%, 5%);
}

.button2 form input:hover {
	background-color: #393939;
	color: #fff;
}

.form {
	color: #fff;
	position: absolute;
	width: 600px;
	margin: 100px auto 0px auto;
	height: 500px;
	width: 40px;

	top: 30%;
	left:40%;
}

